{% extends "dashboard/base.html" %}
{% block title %}Not approved{% endblock %}
{% block pagetitle %}You haven't been approved yet{% endblock %}

{% block body %}

<div class="card mt-4">
    <div class="card-body">
        <div class="not-approved text-center">
            <i class="fal fa-hand-paper big-icon m-3 mt-4" style="font-size: 4em !important;" aria-hidden="true"></i>
            <h1>Access Denied</h1>
            <p>You do not have permisson to view this content. Contact your administrator for viewing rights.</p>
                  <p><a class="btn btn-primary" href="{% url "index" %}">Go back</a></p>


        </div>
    </div>
</div>

{% endblock %}
