{% extends "dashboard/base.html" %}

{% block breadcrumbs_space %}
    {% load django_bootstrap_breadcrumbs %}
    {% block breadcrumbs %}
        {% breadcrumb "Dashboard" "dashboard" %}
        {% breadcrumb "Profile" "profile" %}
        {% breadcrumb "Change Password" "" %}
    {% endblock %}
    {% render_breadcrumbs "dashboard/breadcrumbs.html" %}
{% endblock %}

{% block content %}

<h3>Change Password</h3>


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'dashboard/form-table-vertical.html' %}
    <button type="submit" class="btn btn-primary mb-3">Save</button>
    <a class="btn btn-2 mb-3" href="javascript:history.go(-1)">Cancel</a>
</form>

<!-- <a href="{% url 'staff_users_add' %}{% if not quick_add %}?qa=1{% endif %}">{% if quick_add %}Show advanced{% else %}Show quick add{% endif %}</a> -->

{% endblock content %}
