{% extends 'registration/email_base_html.html' %}

{% block body %}
    <table style="font-family: 'Open Sans'; font-size: 20px;">
        <tbody>
            <tr width="100%">
                <td style="color:#1D2327;">Hi, {{ user.first_name }}</td>
            </tr>
        </tbody>
    </table>
    <p style="color: #77787D;font-size: 16px; max-width: 350px;">You have a new competency ({{ title }}) added to your Roadmap ({{ roadmap }}).</p>
    <a style="background: #4968e8!important; border-radius: 26px; color: white; display: block; padding-top: 15px; padding-bottom: 15px; text-align: center; text-decoration: none; font-weight: 500; width: 100%;" href="{{ primary_link }}">View Competency</a>
{% endblock %}
