{% extends 'registration/email_base_html.html' %}

{% block body %}
    <table style='font-family: "Open Sans"; font-size: 20px;'>
        <tbody>
            <tr width="100%">
                <td style="color:#1D2327;">Hi, {{ user.first_name }}</td>
            </tr>
        </tbody>
    </table>
    <p style="color: #77787D; font-size: 16px;">
        You have <span style="font-weight: bold; font-size: 1.5em; color: black; margin: 0 5px;">{{ user.unread_notifications_count }}</span>
        new notification{{ user.unread_notifications_count|pluralize:",s" }} waiting for you.
    </p>
    <a style="background: #4968e8!important; border-radius: 26px; color: white; display: block; padding-top: 15px; padding-bottom: 15px; padding-left: 30px; padding-right: 30px; text-align: center; text-decoration: none; font-weight: 500;" href="{{ notifications }}">View Notifications</a>
    <br>
    <a style="background: #4968e8!important; border-radius: 26px; color: white; display: block; padding-top: 15px; padding-bottom: 15px; padding-left: 30px; padding-right: 30px; text-align: center; text-decoration: none; font-weight: 500;" href="{{ home }}">Go to Dashboard</a>
{% endblock %}
