# If we don't manually create the log file and change the user,
# the file is created as root, causing a permission denied error
commands:
  00_command:
    command: mkdir -p /var/log/app-logs
  01_command:
    command: touch /var/log/app-logs/app.log
  02_command:
    command: chown wsgi:wsgi /var/log/app-logs/app.log
