@import '../../styles/mixins';

.manage-group-edit-page {
  .btn-save {
    color: $primary;
    background-color: transparent;
    box-shadow: none;
  }

  .btn-cancel {
    background-color: transparent;
    box-shadow: none;
  }
}
