{% extends "postman/base_folder.html" %}
{% load i18n %}
{% block pagetitle %}{% trans "Sent Messages" %}{% endblock %}
{% comment %}{% block breadcrumbs_space %}
    {% load django_bootstrap_breadcrumbs %}
    {% block breadcrumbs %}
        {% breadcrumb "Sent" "" %}
        {% render_breadcrumbs "dashboard/breadcrumbs.html" %}
    {% endblock %}
{% endblock %}{% endcomment %}

{% block active-sent %}btn-secondary{% endblock %}

{% block pm_undelete_button %}{% endblock %}
{% block pm_sender_header %}{% endblock %}
{% block pm_date %}{% trans "Sent" %}{% endblock %}
{% block pm_sender_cell %}{% endblock %}

{% block pm_footer_info %}
{% trans "" %}
{% if pm_messages %}
{% else %}
<div class="no-messages">
    <h3 class="mb-3">No sent messages</h3>
    <i class="no-content-icon fal fa-paper-plane"></i>
    <a class="btn btn-primary" href="{% url 'postman:write' %}"><i class="fa fa-plus"></i> New message</a>
</div>
{% endif %}
{% endblock %}
