{% extends 'signup_base.html' %}
{% block title %}Password reset{% endblock %}

{% block copy %}
  <h1 class="copy-header">Check your email</h1>
  <p>
    If an account exists with the email address you entered{% if email %} ({{ email }}){% endif %},
    instructions to reset your password are on the way.
  </p>
  <p>If no email arrives, make sure that you registered with the given email and check your spam folder.</p>
{% endblock %}

{% block links %}
  <a class="login" href="{% url 'index' %}">Back to log in</a>
{% endblock links %}
