{% extends 'registration/email_base_html.html' %}

{% block body %}
    <p style="color:#424242;font-size:22px;font-weight:bold;margin:30px 0">
      Need to reset your password?
    </p>
    <p style="color:#424242;font-size:17px;margin:30px 0">
      No problem. Click the button below to get started. Note that this will update your password for every organization within MyRoadmap that you are associated with.
    </p>
    <a class="btn btn-blue" href="{{ primary_link }}" style="color: #fff;width: 300px;display: block;padding: 15px 30px;">
      RESET MY PASSWORD
    </a>
    <p style="color:#424242;margin-top: 30px; font-size:17px">
      Trouble with the link? Copy this url into your browser
      {{ primary_link }}
    </p>
    <p style="color:#424242;font-size:17px;margin:30px 0">
      If you didn’t request to reset your password, you don’t have to do anything.
    </p>
    <p style="color:#424242;font-size:17px;margin:30px 0">
      Powered by MyRoadmap.
    </p>
{% endblock %}
